.App {
  text-align: center;

}

.nav {
  display: flex;
  justify-content: space-around;
  background-color: lightgray;
 
}

.navbuttons {
  color: black;
}

.size {
background-color: rgba(160, 95, 95, 0.199);
width: 100%;
}

/* .storeName {
  padding: 10% 0;
} */
